<div id="image-wrapper">
    <img
        id="error-404"
        [src]="utilService.isDarkMode? 'assets/svgs/404_error-dark.svg' : 'assets/svgs/404_error.svg'"
        alt="404"
    >
    <h1>Page not found</h1>
    <p>Requested Page does not exist</p>

    <div id="button-wrapper">
        <button
            status="primary"
            nbButton
            onclick="window.history.back()"
        >
            Back to previous page
        </button>
        <button
            status="primary"
            nbButton
            routerLink="/"
        >
            Homepage
        </button>
    </div>
</div>

