h1{
    font-size: 50px;
}

p{
    font-size: 18px;
}



#button-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

#error-404{
    height: 200px;
}

#image-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 450px){
    h1{
        font-size: 1.7rem!important;
    }

    #error-404{
        height: unset!important;
        width: 100%;
    }
}
