<div class="center-wrapper">
    <div class="header-wrapper">
        <h1>Cookbook</h1>
        <button
            id="create-recipe-button"
            nbButton
            status="primary"
            [routerLink]="'/cook-book/create'"
            nbTooltip="Create new recipe"
        >
            <nb-icon icon="plus-outline"></nb-icon>
            <span *ngIf="utilService.innerWidth > 600">Create&nbsp;</span>
            <span *ngIf="utilService.innerWidth > 980">new recipe</span>
        </button>
    </div>

    <ng-form id="search" [formGroup]="searchForm">
        <app-custom-form-field
            [control]="search"
            [type]="formInputType.text"
            (valueChange)="onChange(search.value)"
            placeholder="Search in cook-book ..."
            [autocomplete]="auto"
            required
        ></app-custom-form-field>

        <nb-autocomplete #auto size="medium" [activeFirst]="true" >

            <nb-option *ngFor="let option of searchProposals | async" [value]="option.name">
                {{ option.name }}
            </nb-option>

        </nb-autocomplete>
    </ng-form>

    <nb-tabset id="recipe-tabset" [nbSpinner]="loading" nbSpinnerSize="medium">
        <nb-tab
            tabTitle="Favourites ({{favRecipes.length}})"
            [active]="favRecipesExist"
        >
            <!--NO DATA-->
            <div
                *ngIf="favRecipes === null || favRecipes.length <=0"
                class="horizontal-flex"
            >
                <div class="vertical-flex">
                    <img
                        [src]="utilService.isDarkMode? 'assets/svgs/no-recipe-dark.svg' : 'assets/svgs/no-recipe.svg'"
                        alt=""
                        width="200vw"
                    >
                    <h3 class="no-data">No Favourite Recipe found!</h3>
                </div>
            </div>

            <app-recipe-list [recipes]="favRecipes" (updateRecipe)="updateRecipe($event)" ></app-recipe-list>

        </nb-tab>
        <nb-tab
            tabTitle="Own Recipes ({{ownRecipes.length}})"
            [active]="!favRecipesExist"
        >
            <!--NO Data-->
            <div
                *ngIf="ownRecipes === null || ownRecipes.length <=0"
                class="horizontal-flex"
            >
                <div class="vertical-flex">
                    <img
                        [src]="utilService.isDarkMode? 'assets/svgs/no-recipe-dark.svg' : 'assets/svgs/no-recipe.svg'"
                        alt=""
                        width="200vw"
                    >
                    <h3 class="no-data">No Recipe found!</h3>
                    <button
                        nbButton
                        status="primary"
                        [routerLink]="'/cook-book/create'"
                        *ngIf="ownRecipesOriginal === null || ownRecipesOriginal.length <=0"
                    >
                        <nb-icon icon="plus-outline"></nb-icon>
                        Create your first recipe
                    </button>
                </div>
            </div>

            <app-recipe-list [recipes]="ownRecipes" (updateRecipe)="updateRecipe($event)" [manageAble]="true"></app-recipe-list>
        </nb-tab>
    </nb-tabset>
</div>
