.center-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .header-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #recipe-tabset{
        width: 70%;
        .horizontal-flex{
            .vertical-flex{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}

#create-recipe-button{
    position: absolute;
    right: calc(15% + 20px);
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}

.no-data{
    text-align: center;
}


@media all and (max-width: 1700px){
    #recipe-tabset{
        width: 100% !important;
    }

    #create-recipe-button{
        right: calc(2% + 20px);
    }
}

@media all and (max-width: 620px){
    #recipe-tabset > nb-tab{
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    #create-recipe-button{
        right: calc(2% + 20px);
    }
}
