

<div class="horizontal-flex">

    <div class="left-wrapper">
        <h1>Search for your meal</h1>
        <div class="ingredient-wrapper">
            <div *ngFor="let ingredientForm of ingredientForms; index as index">
                <ng-form  class="ingredient" [formGroup]="ingredientForm">

                    <!--INGREDIENT-->
                    <app-custom-form-field
                        [control]="_getIngredient(ingredientForm)"
                        [type]="formInputType.text"
                        (valueChange)="onChange(_getIngredient(ingredientForm).value)"
                        placeholder="Ingredient *"
                        [autocomplete]="auto"
                        required
                    ></app-custom-form-field>

                    <nb-autocomplete #auto size="medium" [activeFirst]="true" >

                        <nb-option *ngFor="let option of ingredientProposals | async" [value]="option">
                            {{ option }}
                        </nb-option>

                    </nb-autocomplete>

                    <!--AMOUNT-->
                    <app-custom-form-field
                        id="amount"
                        [control]="_getAmount(ingredientForm)"
                        [type]="formInputType.number"
                        placeholder="Amount *"
                        [min]="0"
                        required
                    ></app-custom-form-field>

                    <!--UNIT-->
                    <app-custom-form-field
                        [control]="_getUnit(ingredientForm)"
                        [type]="formInputType.select"
                        [data]="units"
                        placeholder="Unit *"
                        required
                    ></app-custom-form-field>

                    <button
                        nbButton
                        status="basic"
                        (click)="popIngredient(index)"
                        [disabled]="!(ingredientForms.length > 1)"
                    >
                        <nb-icon icon="minus"></nb-icon>
                    </button>
                </ng-form>
            </div>

        </div>


        <div id="wrapper-below-recipes">
            <button
                nbButton
                status="basic"
                (click)="pushNewIngredient()"
                [disabled]="ingredientForms.length >= 15"
            >
                <nb-icon icon="plus"></nb-icon>
            </button>


            <ng-form [formGroup]="portionsForm" id="portions-form">
                <app-custom-form-field
                    errorMessage="Please enter a valid number of portions"
                    placeholder="Portions *"
                    [control]="portions"
                    [type]="formInputType.number"
                    [min]="1"
                    required
                >

                </app-custom-form-field>
            </ng-form>
        </div>


        <button
            nbButton
            status="primary"
            [disabled]="loading"
            [nbSpinner]="loading"
            nbSpinnerSize="medium"
            (click)="onSearch()"
        >
            <nb-icon icon="search-outline"></nb-icon>
            Search
        </button>
    </div>



    <!--SEARCH RESULTS-->
    <nb-tabset [fullWidth]="utilService.innerWidth < 680">
        <nb-tab
            tabTitle="Matching Recipes ({{recipes.length}})"
            [disabled]="recipes.length <= 0"
            [active]="!(recipes.length <= 0) || (recipesOne.length <= 0 && recipesTwo.length <= 0)"
        >
            <app-recipe-list *ngIf="recipes.length > 0" class="right-wrapper" [recipes]="recipes" [targetPortions]="portions.value"></app-recipe-list>

            <div
                *ngIf="recipes === null || recipes.length <=0"
                class="right-wrapper flex"
                [nbSpinner]="loading"
                nbSpinnerSize="medium"
            >

                <div class="vertical-flex">
                    <img
                        [src]="utilService.isDarkMode? 'assets/svgs/search-dark.svg' : 'assets/svgs/search.svg'"
                        alt=""
                        id="no-data"
                    >
                    <h3>No Recipe found!</h3>
                </div>

            </div>
        </nb-tab>
        <nb-tab
            [tabTitle]="
                'One Ingredient '
                + (utilService.innerWidth < 680? 'misses ' : 'not or less amount ')
                +'('+recipesOne.length+')'
            "
            [disabled]="recipesOne.length <= 0"
            [active]="recipes.length <= 0 && !(recipesOne.length <= 0)"
        >
            <app-recipe-list class="right-wrapper" [recipes]="recipesOne" [targetPortions]="portions.value"></app-recipe-list>
        </nb-tab>
        <nb-tab
            [tabTitle]="
                'Two Ingredients '
                + (utilService.innerWidth < 680? 'misses ' : 'not or less amount ')
                +'('+recipesTwo.length+')'
            "
            [disabled]="recipesTwo.length <= 0"
            [active]="recipes.length <= 0 && recipesOne.length <= 0 && !(recipesTwo.length <= 0)"
        >
            <app-recipe-list class="right-wrapper" [recipes]="recipesTwo" [targetPortions]="portions.value"></app-recipe-list>
        </nb-tab>
    </nb-tabset>


</div>

