.horizontal-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 64px;

    .right-wrapper{
        max-width: 1088px;
        width: 70%;

        &.flex{
            padding-top: 25px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            width: 100%;

            .vertical-flex{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                gap: var(--form-gap-y);
            }
        }
    }
}

app-recipe-list{
    max-width: 100%;
}

#no-data{
    width: 400px;
}


.ingredient-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--form-gap-y);
    margin-bottom: var(--form-gap-y);

    .ingredient{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: var(--form-gap-x);
    }
}

#wrapper-below-recipes{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: var(--form-gap-x);
    margin-bottom: var(--form-gap-y);

    input{
       width: 11rem;
    }
}

@media all and (max-width: 1400px){
    .horizontal-flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    app-recipe-list{
        max-width: 1300px;
    }

    .left-wrapper .right-wrapper{
        width: 80%;
    }
}

@media all and (max-width: 750px){
    h1{
        text-align: center;
    }

    app-recipe-list{
        max-width: 700px;
    }

    .ingredient-wrapper .ingredient{
        gap: 4px;
    }
}

@media all and (max-width: 690px){
    app-custom-form-field{
        max-width: 150px;
    }

    #portions-form{
        max-width: 50px;
    }

    app-recipe-list{
        max-width: 660px;
    }

    li{
        font-size: 1.2rem!important;
    }
}

@media all and (max-width: 480px){
    h1{
        font-size: 1.7rem;
        text-align: center;
    }

    h3{
        font-size: 1.5rem;
    }

    app-custom-form-field{
        font-size: 0.7rem !important;
    }

    ul.tabset > li{
        font-size: 0.5rem!important;
    }

    #amount{
        max-width: 75px;
    }

    #no-data{
        width: 300px;
    }

    app-recipe-list{
        max-width: 450px;
    }
}
