app-header{
    width: 100%;
}

nb-layout-column{
    display: flex;
    justify-content: center;
}

nb-card{
    width: 100%;
}

@media all and (max-width: 1600px) {
    nb-card{
        width: 100%;
    }
}

@media all and (max-width: 620px){
    nb-layout-column{
        padding: 0!important;
    }
}
