<nb-layout (window:resize)="utilService.onResize()">

  <nb-layout-header fixed>
      <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>

      <nb-card>
          <nb-card-header>
              <xng-breadcrumb></xng-breadcrumb>
          </nb-card-header>
          <nb-card-body>
              <router-outlet></router-outlet>
          </nb-card-body>
      </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
      <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
