<div class="navbar"  (window:resize)="onResize()" #view>
    <a routerLink="/">
        <img
            src="assets/logos/Logo.svg"
            alt="Logo"
            [class]="innerWidth <= 450? 'logo little' : 'logo'"
        >
    </a>

    <div [class]="innerWidth <= 450? 'links-wrapper little' : 'links-wrapper'">
        <div class="content">
                <nb-toggle
                    *ngIf="innerWidth >= 500"
                    [(checked)]="utilService.isDarkMode"
                    (change)="changeTheme(false)"
                    class="nav-link"
                >
                    <span *ngIf="innerWidth >= 965" >
                        Dark Mode
                    </span>
                  </nb-toggle>
                <button
                    *ngIf="innerWidth < 500"
                    nbButton
                    (click)="changeTheme(true)"
                    class="nav-link"
                    size = "small"
                    [size]="innerWidth <= 450? 'small' : 'medium'"
                >
                <nb-icon [icon]="utilService.isDarkMode? 'sun-outline' : 'moon-outline'"></nb-icon>

                </button>
        </div>

        <button
            nbButton
            class="nav-link"
            routerLink="/search"
            routerLinkActive="active"
            status="basic"
            [size]="innerWidth <= 450? 'small' : 'medium'"
        >
            <nb-icon icon="search-outline"></nb-icon>
            <span *ngIf="innerWidth >= 875" >Search</span>
        </button>

        <button
            nbButton
            class="nav-link"
            routerLink="/cook-book"
            routerLinkActive="active"
            status="basic"
            [size]="innerWidth <= 450? 'small' : 'medium'"
        >
            <nb-icon icon="book-outline"></nb-icon>
            <span *ngIf="innerWidth >= 875" >My Cookbook</span>
        </button>

        <button
            *ngIf="!this.authService.isLoggedIn()"
            nbButton
            class="nav-link home"
            status="primary"
            outline
            [nbPopover]="Login"
            [nbPopoverTrigger]="popoverTrigger"
            [size]="innerWidth <= 450? 'small' : 'medium'"
            (click)="popover.toggle()"
        >
            <nb-icon icon="person-outline"></nb-icon>
            <span *ngIf="innerWidth >= 875" >{{userButtonTitle}}</span>
        </button>

        <button
            *ngIf="this.authService.isLoggedIn()"
            nbButton
            status="basic"
            class="nav-link"
            routerLink="/account"
            routerLinkActive="active"
            [size]="innerWidth <= 450? 'small' : 'medium'"
        >
            <nb-icon icon="person-outline"></nb-icon>
            <span *ngIf="innerWidth >= 875" >Account</span>
        </button>

        <button
            *ngIf="this.authService.isLoggedIn()"
            nbButton
            class="nav-link home"
            status="primary"
            outline
            (click)="onLogout()"
            [size]="innerWidth <= 450? 'small' : 'medium'"
        >
            <nb-icon icon="log-out-outline"></nb-icon>
            <span *ngIf="innerWidth >= 875" >Log out</span>
        </button>


        <nb-icon
            routerLink="/info"
            routerLinkActive="active"
            icon="info-outline"
            nbTooltip="More Information"
        ></nb-icon>
    </div>
</div>

<ng-template #Login>
    <ng-form id="login" [formGroup]="loginForm">
        <app-custom-form-field
            [required]="true"
            [control]="email"
            [errorMessage]="'Please enter a valid email'"
            [type]="formInputType.text"
            placeholder="Email *"
        ></app-custom-form-field>
        <app-custom-form-field
            [required]="true"
            [control]="password"
            [errorMessage]="'Please enter a password'"
            [type]="formInputType.password"
            placeholder="Password *"
        ></app-custom-form-field>
        <div class="login-inner-wrapper">
            <button
                nbButton
                type="submit"
                status="primary"
                [disabled]="password?.invalid || email?.invalid || loading"
                (click)="onLogin()"
                [nbSpinner]="loading"
                nbSpinnerSize="medium"
                [size]="innerWidth <= 450? 'small' : 'medium'"
            >
                Log in
            </button>
            <a
                (click)="popover.hide()"
                routerLink="/signup">
                Sign up now!
            </a>
        </div>

    </ng-form>
</ng-template>


