.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .content{
        max-height: 40px;
    }



    .links-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 10px;

        
        &.little{
            column-gap: 5px;
        }

        .active:not(.home){
            color: var(--icon-primary-color);
        }

        > nb-icon {

            &:hover{
                color: var(--icon-primary-color);
                cursor: pointer;
            }
        }
    }
}

.logo{
    max-height: 56px;

    &.little{
        max-height: 30px;
    }
}

#login{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--form-gap-x);

    .login-inner-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
