<nb-card>
    <nb-card-header>
        <h6 class="title">Delete Recipe</h6>
    </nb-card-header>
    <nb-card-body>
        Are you sure you want to delete this recipe?
    </nb-card-body>
    <nb-card-footer>

        <button nbButton 
            status="danger" 
            (click)="onDelete()" 
            [nbSpinner]="loading"
            nbSpinnerSize="medium"
        >Delete</button>

        <button 
            nbButton 
            status="primary" 
            outline 
            (click)="onCancel()"
        >Cancel</button>

    </nb-card-footer>
</nb-card>