<!--TEXT-->
<div *ngIf="type === formInputType.text" class="input-wrapper">
    <div
        class="error-message"
        *ngIf="control?.invalid && control?.touched && errorMessage"
    >
        {{errorMessage}}
    </div>
    <input
        *ngIf="autocomplete"
        type="text"
        nbInput
        [formControl]="control"
        [placeholder]="placeholder"
        [status]="control?.dirty || control?.touched? (control?.invalid? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="control?.invalid && control?.touched ? true : null"
        [required]="required"
        [nbAutocomplete]="autocomplete"
        (ngModelChange)="onChange()"
        (click)="onChange()"
    >
    <input
        *ngIf="!autocomplete"
        type="text"
        nbInput
        [formControl]="control"
        [placeholder]="placeholder"
        [status]="control?.dirty || control?.touched? (control?.invalid? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="control?.invalid && control?.touched ? true : null"
        [required]="required"
        (ngModelChange)="onChange()"
        (click)="onChange()"
    >
</div>

<!--PASSWORD-->
<div *ngIf="type === formInputType.password" class="input-wrapper">
    <div
        class="error-message"
        *ngIf="control?.invalid && control?.touched && errorMessage"
    >
        {{errorMessage}}
    </div>
    <input
        type="password"
        nbInput
        [formControl]="control"
        [placeholder]="placeholder"
        [status]="control?.dirty || control?.touched? (control?.invalid? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="control?.invalid && control?.touched ? true : null"
        [required]="required"
        (change)="onChange()"
    >
</div>


<!--NUMBER-->
<div *ngIf="type === formInputType.number" class="input-wrapper">
    <div
        class="error-message"
        *ngIf="control?.invalid && control?.touched && errorMessage"
    >
        {{errorMessage}}
    </div>
    <input
        type="number"
        nbInput
        [formControl]="control"
        [placeholder]="placeholder"
        min="{{min}}"
        max="{{max}}"
        [status]="control?.dirty || control?.touched? (control?.invalid? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="control?.invalid && control?.touched ? true : null"
        [required]="required"
        (change)="onChange()"
    >
</div>


<!--SELECT-->
<div *ngIf="type === formInputType.select" class="input-wrapper">
    <div
        class="error-message"
        *ngIf="control?.invalid && control?.touched && errorMessage"
    >
        {{errorMessage}}
    </div>
    <nb-select
        [formControl]="control"
        placeholder="{{placeholder}}"
        [status]="control?.dirty || control?.touched? (control?.invalid? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="control?.invalid && control?.touched ? true : null"
        [required]="required"
        [selected]="initialValue"
        (change)="onChange()"
    >
        <nb-option *ngFor="let date of data" [value]="date.value">{{date.display}}</nb-option>
    </nb-select>
</div>

<!--TEXT_AREA-->
<div *ngIf="type === formInputType.textArea" class="input-wrapper full-height">
    <div
        class="error-message"
        *ngIf="control?.invalid && control?.touched && errorMessage"
    >
        {{errorMessage}}
    </div>
    <textarea
        nbInput
        [maxLength]="1999"
        [formControl]="control"
        [placeholder]="placeholder"
        [status]="control?.dirty || control?.touched? (control?.invalid? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="control?.invalid && control?.touched ? true : null"
        [required]="required"
        (change)="onChange()"
    ></textarea>
</div>

