.input-wrapper{
    display: flex;
    flex-direction: column;
}

.error-message{
    color: var(--color-danger-600);
    font-size: 0.80rem;
}

nb-select ::ng-deep {
    .select-button {
        min-width: 5rem !important;
    }
}

.full-height{
    height: 100%;
}

textarea {
    resize: vertical;
    width: 100%;
    max-width: unset !important;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}
