<div class="wrapper">
    <h1>{{title}}</h1>
    <ng-form
        id="main-form"
        [formGroup]="recipeForm"
    >
        <!--UPPER FROM-->
        <div class="upper-form">
            <div class="upper-left">
                <!--NAME-->
                <div class="input-wrapper">
                    <h6>Name *</h6>
                    <app-custom-form-field
                        errorMessage="Please enter a recipe name"
                        placeholder="Name of recipe *"
                        [control]="recipeName"
                        [type]="formInputType.text"
                        required
                    ></app-custom-form-field>
                </div>

                <!--DIFFICULTY-->
                <div class="input-wrapper">
                    <h6>Difficulty *</h6>
                    <app-custom-form-field
                        errorMessage="Please choose a difficulty"
                        placeholder="Difficulty *"
                        [control]="difficulty"
                        [type]="formInputType.select"
                        [data]="difficulties"
                        required
                    ></app-custom-form-field>
                </div>

                <!--TOTAL_TIME-->
                <div class="input-wrapper">
                    <h6>Total Time (minutes) *</h6>
                    <app-custom-form-field
                        errorMessage="Please enter a valid total time"
                        placeholder="Total Time (minutes) *"
                        [control]="totalTime"
                        [type]="formInputType.number"
                        [min]="0"
                        required
                    ></app-custom-form-field>
                </div>

                <!--PREP_TIME-->
                <div class="input-wrapper">
                    <h6>Preparation Time (minutes) *</h6>
                    <app-custom-form-field
                        errorMessage="Please enter a valid preparation time"
                        placeholder="Preparation Time (minutes) *"
                        [control]="prepTime"
                        [type]="formInputType.number"
                        [min]="0"
                        required
                    ></app-custom-form-field>
                </div>

                <!--PORTION-->
                <div class="input-wrapper">
                    <h6>Portions *</h6>
                    <app-custom-form-field
                        errorMessage="Please enter a valid number of portions"
                        placeholder="Portions *"
                        [control]="portion"
                        [type]="formInputType.number"
                        [min]="1"
                        required
                    ></app-custom-form-field>
                </div>

                <!--IS_PUBLIC-->
                <div class="input-wrapper public">
                    <h6>Set public:</h6>
                    <nb-checkbox [formControl]="isPublic" status="basic"></nb-checkbox>
                </div>
            </div>
            <div class="upper-right">
                <div class="image-wrapper">
                    <img [src]="imageUrl" alt="">
                </div>
                <input id="upload" type="file" class="file-upload" accept="image/jpeg ,image/png, image/gif" (change)="onFileUpload($event)" #fileUpload>
                <button
                    nbButton
                    type="submit"
                    status="primary"
                    outline
                    (click)="fileUpload.click();"
                >
                    <nb-icon icon="cloud-upload-outline"></nb-icon>
                    Upload Image
                </button>
            </div>
        </div>

        <!--Bottom FROM-->
        <div class="bottom-form">

            <div class="bottom-left">

                <!--INGREDIENT FORM-->
                <ng-form id="ingredient-form" [formGroup]="ingredientForm">

                    <!--INGREDIENT-->
                    <app-custom-form-field
                        [control]="ingredientName"
                        [type]="formInputType.text"
                        placeholder="Ingredient *"
                        [autocomplete]="auto"
                        (valueChange)="onChange(ingredientName.value)"
                        required
                    ></app-custom-form-field>

                    <nb-autocomplete #auto size="medium" [activeFirst]="true" >

                        <nb-option *ngFor="let option of ingredientProposal | async" [value]="option">
                            {{ option }}
                        </nb-option>

                    </nb-autocomplete>

                    <!--AMOUNT-->
                    <app-custom-form-field
                        id="amount"
                        placeholder="Amount *"
                        [control]="amount"
                        [type]="formInputType.number"
                        [min]="0"
                        required
                    ></app-custom-form-field>

                    <!--UNIT-->
                    <app-custom-form-field
                        placeholder="Unit *"
                        [control]="unit"
                        [type]="formInputType.select"
                        [data]="units"
                        required
                    ></app-custom-form-field>

                    <button
                        nbButton
                        type="submit"
                        status="primary"
                        [disabled]="ingredientName?.invalid || amount?.invalid || unit?.invalid || loading"
                        (click)="onAddIngredient()"
                    >
                        <nb-icon icon="plus"></nb-icon>
                    </button>
                </ng-form>

                <h6>Current ingredients</h6>

                <!--DISPLAY INGREDIENTS-->
                <div id="display-ingredients">
                    <div class="complete-width" *ngIf="ingredients.length > 0">
                        <div
                            class="ingredient-list-tile"
                            *ngFor="let ingredient of ingredients; index as index"
                        >
                            <div class="ingredient-name"><h6>{{ingredient.name}}</h6></div>
                            <div class="ingredient-name">
                                <h6>
                                    {{ingredient.amount}}
                                    {{' '}}
                                    <span class="ingredient-unit"> {{mappingService.mapUnitToString(ingredient.unit)}} </span>
                                    {{' '}}
                                    {{' '}}
                                    <nb-icon
                                        icon="trash-2-outline"
                                        (click)="onDeleteIngredient(index)"
                                        nbTooltip="Delete Ingredient"
                                    ></nb-icon>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="empty-wrapper-wrapper" *ngIf="ingredients.length === 0">
                        <div class="empty-wrapper">
                            <img
                                id="empty-pic"
                                [src]="utilService.isDarkMode? 'assets/svgs/empty-dark.svg' : 'assets/svgs/empty.svg'"
                                alt=""
                            >
                            <h6>No ingredients yet</h6>
                        </div>
                    </div>



                </div>
            </div>

            <div class="bottom-right">
                <h6>Instructions</h6>
                <!--DESCRIPTION-->
                <app-custom-form-field
                    id="description"
                    errorMessage="Please enter instructions"
                    placeholder="Instructions *"
                    [control]="description"
                    [type]="formInputType.textArea"
                    required
                ></app-custom-form-field>
            </div>
        </div>

        <button
            id="submit-button"
            nbButton
            type="submit"
            status="primary"
            [disabled]="
        recipeName?.invalid
        || difficulty?.invalid
        || totalTime?.invalid
        || prepTime?.invalid
        || portion?.invalid
        || isPublic?.invalid
        || isPublic?.invalid
        || description?.invalid
        || ingredients.length <= 0
        || loading"
            [nbSpinner]="loading"
            nbSpinnerSize="medium"
            (click)="onSubmit()"
        >
            <nb-icon icon="plus-outline"></nb-icon> {{buttonDescription}}
        </button>
    </ng-form>
</div>
