.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h6{
    padding: 0;
    margin: 0;
}

#main-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--form-gap-x);

    h6:first-child{
        width: 200px;
        text-align: right;
    }
}

.upper-form{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--form-gap-y);

    .upper-left{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: var(--form-gap-y);
    }

    .upper-right{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .image-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 570px;
            height: 320px;
            box-shadow:
                0 1px 1px hsl(0deg 0% 0% / 0.075),
                0 2px 2px hsl(0deg 0% 0% / 0.075),
                0 4px 4px hsl(0deg 0% 0% / 0.075),
                0 8px 8px hsl(0deg 0% 0% / 0.075),
                0 16px 16px hsl(0deg 0% 0% / 0.075);
            border-radius: 4px;

            img{
                height: 100%;
                max-width: 570px;
                max-height: 320px;
                border-radius: 4px;
            }
        }

        #upload{
            display: none;
        }
    }
}

.bottom-form{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--form-gap-y);
    border-top: 2px solid var(--card-border-color);
    margin-top: var(--form-gap-y);
    padding-top: var(--form-gap-y);
}

#ingredient-form{
    display: flex;
    z-index: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--form-gap-x);
    margin-bottom: var(--form-gap-y);
}

.bottom-left{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    #display-ingredients{
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        height: 200px;

        border: 2px solid var(--card-border-color);
        border-radius: 4px;

        .ingredient-list-tile{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 8px 16px;

            nb-icon{
                cursor: pointer;

                &:hover{
                    color: var(--color-danger-600);
                }
            }

            &:first-child{
                padding-top: 16px;
            }

            &:last-child{
                padding-bottom: 16px;
            }

            .ingredient-unit{
                padding: 0 8px;
            }
        }

        .complete-width{
            width: 100%;
        }

        .empty-wrapper{
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            #empty-pic{
                width: 30%;
                margin-bottom: 16px;
            }
        }
    }
}

.bottom-right{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    app-custom-form-field{
        width: 100%;
        max-height: 250px;
    }

    h6{
        margin-top: 70px;
    }
}

#submit-button{
    margin-top: var(--form-gap-y);
}

@media all and (max-width: 1600px) {
    .upper-form {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center!important;
        align-items: center!important;
    }

    .bottom-form  {
        width: 100%;
    }

    .upper-right{
        width: unset!important;
    }

    .upper-left{
        width: unset!important;
    }
}

@media all and (max-width: 1200px) {
    .image-wrapper{
        width: 400px!important;
        height: 225px!important;

        img{
            max-width: 400px!important;
            max-height: 225px!important;
        }
    }

    #ingredient-form{
        gap: 4px;
    }
}

@media all and (max-width: 980px) {
    .bottom-form{
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .empty-wrapper-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        .empty-wrapper{
            #empty-pic{
                width: 120px!important;
            }
        }
    }

    #ingredient-form{
        flex-wrap: wrap;
    }


    .bottom-left{
        width: 100%!important;
    }

    .bottom-right{
        width: 100%;
        h6{
            margin-top: unset!important;
        }
    }
}

@media all and (max-width: 750px) {
    .bottom-form{
        app-custom-form-field:not(#description) {
            max-width: 150px;
        }
    }
}

@media all and (max-width: 500px) {
    .input-wrapper:not(.public){
        flex-direction: column!important;
        align-items: center!important;
        justify-content: center!important;

        h6{
            text-align: center!important;
        }
    }

    h1{
        font-size: 1.7rem;
        text-align: center;
    }

    .public{
        width: 100%;
        justify-content: center!important;
        align-items: center!important;
        h6{
            width: unset!important;
        }
    }
}

@media all and (max-width: 430px) {
    .image-wrapper{
        width: 300px!important;
        height: 168px!important;

        img{
            max-width: 300px!important;
            max-height: 168px!important;
        }
    }
}


