.wrapper{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sign-up-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--form-gap-x);
    }
}

@media all and (max-width: 850px){
    
    #image{
        height: 80px;
        width: 160px;
    }

    app-custom-form-field{
        min-width: 80px !important;
    }

    h1{
        font-size: var(--text-heading-4-font-size);
        font-weight: var(--text-heading-4-font-weight);
    }

    .sign-up-form{
        gap: 10px !important;
    }
}