<div class="wrapper" (window:resize)="onResize()" #view>

    <img
        id="image"
        [src]="utilService.isDarkMode? 'assets/svgs/signup-dark.svg' : 'assets/svgs/signup.svg'"
        alt=""
        width="400vw"
    >

    <h1>Sign up Now</h1>

    <ng-form
        class="sign-up-form"
        [formGroup]="signupForm"
    >
        <!--USERNAME-->
        <app-custom-form-field
            [control]="username"
            [errorMessage]="'Please enter a username'"
            [type]="formInputType.text"
            placeholder="Username *"
            required
        ></app-custom-form-field>

        <!--EMAIL-->
        <app-custom-form-field
            [control]="email"
            [errorMessage]="'Please enter a valid email'"
            [type]="formInputType.text"
            placeholder="Email *"
            required
        ></app-custom-form-field>

        <!--PASSWORD-->
        <app-custom-form-field
            [control]="password"
            [errorMessage]="chosePasswordError()"
            [type]="formInputType.password"
            placeholder="Password *"
            required
        ></app-custom-form-field>

        <!--PASSWORD_REPEAT-->
        <app-custom-form-field
            [control]="passwordRepeat"
            [errorMessage]="passwordRepeat.hasError('repeat')?
             'The passwords are not matching'
             :'Please retype your password'"
            [type]="formInputType.password"
            placeholder="Repeat Password *"
            required
        ></app-custom-form-field>

        <!--SUBMIT-->
        <button
            nbButton
            type="submit"
            status="primary"
            [nbSpinner]="loading"
            [disabled]="password?.invalid || email?.invalid || username?.invalid || passwordRepeat?.invalid  || loading"
            (click)="onSubmit()"
            [nbSpinnerSize]="innerWidth <= 450? 'small' : 'medium'"
            [size]="innerWidth <= 450? 'small' : 'medium'"
        >
            Sign up Now
        </button>

    </ng-form>

</div>
