<div class="center-center-wrapper">
    <div class="center-wrapper" *ngIf="recipe && recipe.ingredients">
        <h1 id="title">{{recipe.name}}</h1>
        <div id="author">from {{recipe.author}}</div>

        <div class="horizontal-wrapper">
            <div class="image-and-description-wrapper">
                <div class="image-wrapper">
                    <img id="recipeLogo"  [src]="apiUrl + '/recipes/' + recipe.id + '/images'" alt="">
                </div>

                <div class="description-wrapper">
                    <div id="button-difficulty">
                        <button
                            nbButton
                            [nbTooltip]="recipe.isFavorite? 'Remove favorite' : 'Add favorite'"
                            (click)="onFavorite()"
                            [status]="recipe.isFavorite? 'warning' : 'basic'"
                            [nbSpinner]="favoriteLoading.loading"
                            nbSpinnerSize="medium"
                            outline
                        >
                            <nb-icon icon="star"></nb-icon>
                            <span *ngIf="utilService.innerWidth >= 550">{{recipe.isFavorite? 'Remove from ' : 'Add to '}}favorites</span>
                        </button>

                        <div id="difficulty">
                            Difficulty:
                            <nb-icon  icon="star"></nb-icon>
                            <nb-icon  [icon]="recipe.difficulty !== difficulties.easy? 'star' : 'star-outline'"></nb-icon>
                            <nb-icon  [icon]="recipe.difficulty !== difficulties.hard? 'star-outline' : 'star'"></nb-icon>
                        </div>
                    </div>


                    <div id="init-portion" >
                        <div nbTooltip="(Initial) Portions">
                            <nb-icon  icon="people-outline"></nb-icon> ({{recipe.portions}}) {{portions.value}}
                        </div>
                    </div>

                    <div id="createdAt">
                        <div>
                            Created at {{recipe.createdAt.getDate()}}.{{recipe.createdAt.getMonth() + 1}}.{{recipe.createdAt.getFullYear()}}
                        </div>
                    </div>

                </div>
            </div>

            <!--INGREDIENTS TABLE-->
            <div id="ingredients-wrapper">
                <ng-form class="portions-form" [formGroup]="portionsForm">
                    <h6>
                        <nb-icon [icon]="'people-outline'" [attr.aria-label]="'Reload Portions'"></nb-icon>
                        {{' '}}
                        Portions <span nbTooltip="Initial portions">({{recipe.portions}})</span>
                    </h6>
                        <input
                            nbTooltip="Portions"
                            nbInput
                            [placeholder]="portions.value"
                            [formControl]="portions"
                            [type]="formInputType.number"
                            [min]="1"
                            [step]="1"
                            (change)="onChange()"
                            required
                        >
                </ng-form>
                <div class="ingredient-wrapper" *ngFor="let ingredient of recipe.ingredients">
                    <div class="amount">{{ingredient.amount}} {{mappingService.mapUnitToString(ingredient.unit)}}</div>
                    <div class="ingredient">{{ingredient.name}}</div>
                </div>

            </div>
        </div>



        <div id="instructions">
            <h2>Instructions:</h2>

            <div [innerText]="recipe.instructions"></div>
        </div>
    </div>
</div>

