.center-center-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.center-wrapper{

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #title{
        margin: 0;
        font-size: var(--text-heading-1-font-size);
        font-weight: var(--text-heading-1-font-weight);
        padding: var(--form-gap-x);
        padding-bottom: 0;
    }

    #author{
        padding: var(--form-gap-x);
        font-size: 1.2rem;
        margin-bottom: var(--form-gap-y);
    }

    .horizontal-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;

        .image-and-description-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: var(--form-gap-y);

            .image-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 570px;
                height: 320px;
                box-shadow:
                    0 1px 1px hsl(0deg 0% 0% / 0.075),
                    0 2px 2px hsl(0deg 0% 0% / 0.075),
                    0 4px 4px hsl(0deg 0% 0% / 0.075),
                    0 8px 8px hsl(0deg 0% 0% / 0.075),
                    0 16px 16px hsl(0deg 0% 0% / 0.075);
                border-radius: 4px;

                img#recipeLogo{
                    height: 100%;
                    max-width: 570px;
                    max-height: 320px;
                    border-radius: 4px;

                }
            }

            .description-wrapper{

                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--form-gap-x);

                #button-difficulty{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.2rem;
                }

                #createdAt{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;
                    font-size: 1.2rem;
                }

                #init-portion{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;
                    font-size: 1.2rem;
                }

            }
        }



        #ingredients-wrapper{
            width: 32%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 1.2rem;

            .portions-form{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: var(--form-gap-x);


                h6{
                    margin: 0;
                    padding: 0;
                }

                input{
                    max-width: 76px;
                    text-align: center;
                }
            }

            .ingredient-wrapper{
                height: 64px;
                width: 64%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: var(--form-gap-x);

                border-bottom: 1px solid var(--card-border-color);

                .amount{
                    text-align: end;
                    width: 32%;
                }

                .ingredient{
                    width: 68%;
                }

            }

            .ingredient-wrapper:last-child{
                border-bottom: none;
            }
        }
    }


    #instructions{
        margin-top: var(--form-gap-y);
        margin-bottom: var(--form-gap-y);
        width: 75%;
        border-top: 2px solid var(--card-border-color);
        font-size: 1.1rem;
    }

}

@media all and (max-width: 1500px){
    .center-wrapper{
        width: 100%!important;
    }

    .horizontal-wrapper{
        width: 100%!important;
    }

    #instructions{
        width: 100%!important;
    }

    #ingredients-wrapper{
        min-width: 350px;
    }
}

@media all and (max-width: 1100px){
    .horizontal-wrapper{
        flex-direction: column !important;
        align-items: center!important;
        justify-content: center!important;
        gap: var(--form-gap-y);
    }

    #ingredients-wrapper{
        width: 90%!important;
    }

    .ingredient-wrapper{
        width: 100% !important;

        .amount{
            text-align: start!important;
        }

        .ingredient{
            text-align: end!important;
        }
    }

    .portions-form{
        justify-content: space-between !important;
    }

}

@media all and (max-width: 750px){
    #title{
        font-size: 1.7rem !important;
        text-align: center;
    }
}

@media all and (max-width: 700px){
    #recipeLogo{
        height: auto!important;
        max-width: 500px!important;
    }

    .image-wrapper{
        height: auto!important;
        max-width: 500px!important;
    }
}

@media all and (max-width: 550px){
    #recipeLogo{
        height: auto!important;
        max-width: 350px!important;
    }

    .image-wrapper{
        height: auto!important;
        max-width: 350px!important;
    }
}


