.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile{
        height: 200px;
    }

    .subheader{
        text-align: center;
    }

    .info-wrapper{
        border-top: 2px solid grey;
        padding: 2px;
        width: min(32%, 400px);

        .info{
            min-width: 40%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            font-weight: bold;
            padding: 8px;

            .type{
                width: 40%;
                overflow: hidden;
            }

            .value{
                width: 60%;
                text-align: start;
                overflow: hidden;
            }
        }
    }

    .accordion{
        width: min(32%, 376px);
        border-top: 2px solid grey;

        ng-form{
            display: flex;
            column-gap: 15px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--form-gap-y);
        }
    }
}


@media all and (max-width: 850px){
    .profile{
        height: 100px !important;
    }

    .subheader{
        font-size: var(--text-heading-6-font-size) !important;
    }

    .accordion, .info-wrapper{
        width: 90% !important;
    }
    
}