<div class="container">
    <h1>Hello {{curUser.name}}</h1>
    <img
        class="profile"
        src="assets/svgs/profile.svg"
        [src]="utilService.isDarkMode? 'assets/svgs/profile-dark.svg' : 'assets/svgs/profile.svg'"
        alt="Profil"
    >


    <h3 class="subheader">Account information</h3>

    <!--Current User information-->
    <div class="info-wrapper">
        <div class="info">
            <div class="type">Username:</div>
            <div class="value">{{curUser.name}}</div>
        </div>
        <div class="info">
            <div class="type">Email:</div>
            <div class="value">{{curUser.email}}</div>
        </div>
    </div>

    <h3 class="subheader">Account settings</h3>

    <nb-accordion class="accordion">
        <!--Username-->
        <nb-accordion-item expanded>
            <nb-accordion-item-header>Change Username</nb-accordion-item-header>

            <nb-accordion-item-body>
                <ng-form
                    class="sign-up-form"
                    [formGroup]="userLoading.form!"
                >
                    <!--NEW USERNAME-->
                    <app-custom-form-field
                        [control]="username"
                        [errorMessage]="'Please change your username'"
                        [type]="formInputType.text"
                        [placeholder]="curUser?.name"
                        required
                    ></app-custom-form-field>

                    <button
                        nbButton
                        type="submit"
                        status="primary"
                        (click)="onSubmit('newUsername')"
                        [disabled]="userLoading.loading"
                        [nbSpinner]="userLoading.loading"
                        nbSpinnerSize="medium"
                    >
                       Update
                    </button>
                </ng-form>
            </nb-accordion-item-body>
        </nb-accordion-item>

        <!--E-Mail-->
        <nb-accordion-item>
            <nb-accordion-item-header>Change E-Mail</nb-accordion-item-header>

            <nb-accordion-item-body>
                <ng-form
                    class="sign-up-form"
                    [formGroup]="emailLoading.form!"
                >
                    <!--NEW EMAIL-->
                    <app-custom-form-field
                        [control]="email"
                        [errorMessage]="'Please enter an e-mail address'"
                        [type]="formInputType.text"
                        [placeholder]="curUser.email"
                        required
                    ></app-custom-form-field>

                    <button
                        nbButton
                        type="submit"
                        status="primary"
                        (click)="onSubmit('newEmail')"
                        [disabled]="emailLoading.loading"
                        [nbSpinner]="emailLoading.loading"
                        nbSpinnerSize="medium"
                    >
                        Update
                    </button>
                </ng-form>
            </nb-accordion-item-body>
        </nb-accordion-item>

        <!--Password-->
        <nb-accordion-item>
            <nb-accordion-item-header>Change Password</nb-accordion-item-header>

            <nb-accordion-item-body>
                <ng-form
                    class="sign-up-form"
                    [formGroup]="passwordLoading.form!"
                >
                    <!--CURRENT PASSWORD-->
                    <app-custom-form-field
                        [control]="currentPassword"
                        [errorMessage]="'Please enter your current password'"
                        [type]="formInputType.password"
                        placeholder="Current Password"
                        required
                    ></app-custom-form-field>

                    <!--NEW PASSWORD-->
                    <app-custom-form-field
                        [control]="newPassword"
                        [errorMessage]="chosePasswordError()"
                        [type]="formInputType.password"
                        placeholder="Password *"
                        required
                    ></app-custom-form-field>

                    <!--NEW PASSWORD REPEAT-->
                    <app-custom-form-field
                        [control]="newPasswordRepeat"
                        [errorMessage]="newPasswordRepeat.hasError('repeat')?
                        'The passwords are not matching'
                        :'Please retype your password'"
                        [type]="formInputType.password"
                        placeholder="Repeat Password *"
                        required
                    ></app-custom-form-field>

                    <button
                        nbButton
                        type="submit"
                        status="primary"
                        (click)="onSubmit('newPassword')"
                        [disabled]="passwordLoading.loading"
                        [nbSpinner]="passwordLoading.loading"
                        nbSpinnerSize="medium"
                    >
                        Change Password
                    </button>
                </ng-form>
            </nb-accordion-item-body>
        </nb-accordion-item>


    </nb-accordion>
</div>
