#recipe-box{
    width: 100%;
    height: 182px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 8px;

    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.025),
        0 2px 2px hsl(0deg 0% 0% / 0.025),
        0 4px 4px hsl(0deg 0% 0% / 0.025),
        0 8px 8px hsl(0deg 0% 0% / 0.025),
        0 8px 8px hsl(0deg 0% 0% / 0.025);

    &.little{
        flex-direction: column;
        height: calc(2*182px);
    }

    &:hover{
        cursor: pointer;
        box-shadow:
            0 2px 2px hsl(0deg 0% 0% / 0.03),
            0 4px 4px hsl(0deg 0% 0% / 0.03),
            0 8px 8px hsl(0deg 0% 0% / 0.03),
            0 16px 16px hsl(0deg 0% 0% / 0.03),
            0 16px 16px hsl(0deg 0% 0% / 0.03);
    }

    .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        min-width: 320px;

        &.little{
            max-height: 182px;
            max-width: 100%;
            overflow: hidden;
        }

        &.little2{
            display: unset;
            min-width: unset;
        }

        .recipe-image{
            border-start-start-radius: inherit;
            border-end-start-radius: inherit;
            height: inherit;
            max-width: 320px;

            &.little{
                max-height: 182px;
                max-width: 100%;
            }

            &.little2{
                max-width: inherit;
            }
        }
    }


    .recipe-details{
        display: flex;
        flex-direction: column;
        gap: 4px;

        height: inherit;
        width: 100%;
        padding: 16px;

        &.little{
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .header-wrapper{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap-reverse;
            gap: 8px;

            .title{
                font-size: var(--text-heading-3-font-size);
                margin-bottom: var(--form-gap-x);
                width: 450px;

                &.little{
                    font-size: var(--text-heading-6-font-size) !important;
                    margin-bottom: unset;
                    width: unset;
                }
            }



            .action-wrapper{
                align-self: flex-end;
                display: flex;
                flex-direction: row;
                gap: var(--form-gap-x);
                z-index: 2;
                width: unset;

                &.little{
                    width: 100%;
                }
            }
        }


        .details-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .details{
                display: flex;
                flex-direction: column;
                gap: 4px;


                #button-difficulty{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.2rem;
                }


            }

            #ingredients-list{
                text-align: start;
            }

            .no-text-wrap{
                text-overflow: clip;
                white-space: nowrap;
                overflow: hidden;
            }

            .text{
                overflow: hidden;
                width: 400px;
                max-height: 64px;
                text-overflow: ellipsis;
            }

        }
    }
}

