<div id="recipe-box" [class]="innerWidth <= 750? 'little' : ''" (window:resize)="onResize()" #view>
    <div [class]="
                    innerWidth <= 750?
                        (innerWidth <= 335? 'little2 little image-wrapper' : 'little image-wrapper')
                        : 'image-wrapper'
                    ">
        <img
            (click)="onRedirect()"
            [class]="
                    innerWidth <= 750?
                        (innerWidth <= 335? 'little2 little recipe-image' : 'little recipe-image')
                        : 'recipe-image'
                    "
            [src]="apiUrl + '/recipes/' + recipe.id + '/images'" alt=""
        >
    </div>
    <div [class]="innerWidth <= 973? 'recipe-details little' : 'recipe-details'">
        <div class="header-wrapper">
            <div [class]="innerWidth <= 973? 'title little' : 'title'" (click)="onRedirect()">{{recipe.name}}</div>
            <div [class]="innerWidth <= 973? 'action-wrapper little' : 'action-wrapper'">
                <button
                    *ngIf="manageAble"
                    nbButton
                    [size]="innerWidth <= 973? 'small' : 'medium'"
                    status="primary"
                    nbTooltip="Edit Recipe"

                    (click)="onEdit()"
                    [routerLink]="'/cook-book/edit-recipe'"
                    outline
                >
                    <nb-icon icon="edit-2-outline"></nb-icon>
                </button>
                <button
                    *ngIf="manageAble"
                    [size]="innerWidth <= 973? 'small' : 'medium'"
                    nbButton
                    status="danger"
                    nbTooltip="Delete Recipe"
                    (click)="onDelete()"
                    outline
                >
                    <nb-icon icon="trash-outline"></nb-icon>
                </button>

                <button
                    *ngIf="this.authService.isLoggedIn()"
                    [size]="innerWidth <= 973? 'small' : 'medium'"
                    nbButton
                    status="warning"
                    [nbTooltip]="recipe.isFavorite? 'Remove favorite' : 'Add favorite'"
                    (click)="onFavorite()"
                    [status]="recipe.isFavorite? 'warning' : 'basic'"
                    [nbSpinner]="favoriteLoading.loading"
                    nbSpinnerSize="medium"
                    outline
                >
                    <nb-icon icon="star"></nb-icon>
                </button>
            </div>
        </div>

        <div class="details-wrapper" (click)="onRedirect()">

            <div class="details no-text-wrap">
                <div id="difficulty">
                    <nb-icon  icon="star"></nb-icon>
                    <nb-icon  [icon]="recipe.difficulty !== difficulties.easy? 'star' : 'star-outline'"></nb-icon>
                    <nb-icon  [icon]="recipe.difficulty !== difficulties.hard? 'star-outline' : 'star'"></nb-icon>
                </div>
                <div class="author"> <nb-icon icon="person-outline"></nb-icon> {{recipe.author}}</div>
                <div class="portion"> <nb-icon icon="people-outline"></nb-icon> {{targetPortions? targetPortions : recipe.portions}} Portion(s)</div>
                <div class="times"> <nb-icon icon="clock-outline"></nb-icon> {{recipe.totalTime}} min</div>
            </div>

            <div *ngIf="innerWidth > 335">
                <div id="ingredients-list">
                    <div class="no-text-wrap" *ngFor="let ingredient of recipe.ingredients.slice(0,3)">
                        {{ingredient.amount}} {{mappingService.mapUnitToString(ingredient.unit)}} {{ingredient.name}}
                    </div>
                    <div class="no-text-wrap" *ngIf="recipe.ingredients.length > 3">
                        ...
                    </div>
                </div>
            </div>

            <div *ngIf="innerWidth >= 1050">
                <div class="text" [innerText]="recipe.instructions">

                </div>
            </div>

        </div>
    </div>
</div>
