.wrapper{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .log-in-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--form-gap-x);

        app-custom-form-field{
            min-width: 240px;
        }

        .login-inner-wrapper{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media all and (max-width: 850px){
    
    #image{
        height: 80px;
        width: 160px;
    }

    app-custom-form-field{
        min-width: 80px !important;
    }

    h1{
        font-size: var(--text-heading-4-font-size);
        font-weight: var(--text-heading-4-font-weight);
    }
}
