<div class="wrapper" (window:resize)="onResize()" #view>

    <img
        id="image"
        [src]="utilService.isDarkMode? 'assets/svgs/signup-dark.svg' : 'assets/svgs/signup.svg'"
        alt=""
        width="400vw"
    >

    <h1>Log in</h1>

    <ng-form
        class="log-in-form"
        [formGroup]="loginForm"
    >
        <!--EMAIL-->
        <app-custom-form-field
            [control]="email"
            [errorMessage]="'Please enter a valid email'"
            [type]="formInputType.text"
            placeholder="Email *"
            required
        ></app-custom-form-field>

        <!--PASSWORD-->
        <app-custom-form-field
            [control]="password"
            [errorMessage]="'Please enter a Password'"
            [type]="formInputType.password"
            placeholder="Password *"
        ></app-custom-form-field>

        <!--SUBMIT-->
        <div class="login-inner-wrapper">
            <button
                nbButton
                type="submit"
                status="primary"
                [disabled]="password?.invalid || email?.invalid || loading"
                (click)="onSubmit()"
                [nbSpinner]="loading"
                [size]="innerWidth <= 450? 'small' : 'medium'"
                [nbSpinnerSize]="innerWidth <= 450? 'small' : 'medium'"
            >
                Login
            </button>
            <a
                routerLink="/signup">
                Sign up now!
            </a>
        </div>

    </ng-form>

</div>
