@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

// Color for the bread crumb
.xng-breadcrumb-trail{
    color: var(--text-basic-color)!important;
}

nb-autocomplete{
    z-index: 99;
}


:root{
    --form-gap-x: 15px;
    --form-gap-y: 30px;
}
