@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/corporate';
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((
    header-padding: 0.75rem,
), corporate, corporate);

$nb-themes: nb-register-theme(
        (
            // some styles we changed
            text-basic-color: color-warning-100,
            text-disabled-color: color-warning-100,
            header-padding: 0.75rem,
        ),
        dark,
        dark
);