<div id="list">
    <app-recipe-short-view 
        *ngFor="let recipe of recipes" 
        (updateElement)="updateList($event)" 
        [recipe]="recipe" 
        [manageAble]="manageAble" 
        [targetPortions]="targetPortions"
    ></app-recipe-short-view>
</div>
