<div id="introduction">
    <h1>Welcome to Openthefridge!</h1>
    <p>
        Everyone knows the feeling,
        stomach growling, the saliva flowing,
        but then you look in the fridge and you have
        no idea what you could possibly cook with the ingredients lying there.
        A well known problem, but that's the end of it now.
        On this website you can enter your ingredients and get
        selected recipes that contain the ingredients you put into the search.
        Additional filters ensure that nothing is displayed that you do not want to see.
        <br><br>
        <strong>Don't let the fridge win, start cooking!</strong>
        <br><br>
        Your Openthefridge Team
    </p>
</div>

<div id="qna">
    <h3>Q & A:</h3>
    <nb-accordion id="accordion" [class]="utilService.isDarkMode? 'dark' : 'light'">
        <nb-accordion-item>
            <nb-accordion-item-header>How do I search for recipes?</nb-accordion-item-header>
            <nb-accordion-item-body>
                Specify available ingredients, quantity and servings on the home/search page. Click Search.
            </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
            <nb-accordion-item-header>Can I save and manage recipes?</nb-accordion-item-header>
            <nb-accordion-item-body>
                Recipes can be saved in a cookbook.
            </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
            <nb-accordion-item-header>Do I need an account?</nb-accordion-item-header>
            <nb-accordion-item-body>
                For searching recipes - No. For saving and creating recipes - Yes.
            </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
            <nb-accordion-item-header>How do I create an account?</nb-accordion-item-header>
            <nb-accordion-item-body>
                Click on Sign up on the popup that appears after clicking the Login button and enter your data.
            </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
            <nb-accordion-item-header>Can I create recipes?</nb-accordion-item-header>
            <nb-accordion-item-body>
                Yes, under the create tab.
            </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
            <nb-accordion-item-header>How do I change my password?</nb-accordion-item-header>
            <nb-accordion-item-body>
                In the account settings under change password.
            </nb-accordion-item-body>
        </nb-accordion-item><nb-accordion-item>
            <nb-accordion-item-header>Can I change my email address?</nb-accordion-item-header>
            <nb-accordion-item-body>
                Change in the account settings under email.
            </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
            <nb-accordion-item-header>How do I delete a cookbook entry?</nb-accordion-item-header>
            <nb-accordion-item-body>
                Click remove on the cookbook entry.
            </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
            <nb-accordion-item-header>What recipies will be shown?</nb-accordion-item-header>
            <nb-accordion-item-body>
                First, the recipes that correspond exactly to the entries are displayed, then recipes with a larger scope are displayed.
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</div>
<br>
<div id="develop">
    <h3>Developers:</h3>
    <div class="developers">
        <nb-user name="Alex" title="Computer Science-Student" [class]="utilService.isDarkMode? 'dark' : 'light'"></nb-user>
        <nb-user name="Eddi" title="Computer Science-Student" [class]="utilService.isDarkMode? 'dark' : 'light'"></nb-user>
        <nb-user name="Erelehta" title="Computer Science-Student" [class]="utilService.isDarkMode? 'dark' : 'light'"></nb-user>
    </div>
    <div class="developers">

        <nb-user name="Simon" title="Computer Science-Student" [class]="utilService.isDarkMode? 'dark' : 'light'"></nb-user>
        <nb-user name="Tim" title="Computer Science-Student" [class]="utilService.isDarkMode? 'dark' : 'light'"></nb-user>
        <nb-user name="Tom" title="Computer Science-Student" [class]="utilService.isDarkMode? 'dark' : 'light'"></nb-user>
    </div>
    <div class="developers">
        <nb-user name="Marcel" title="Computer Science-Student" [class]="utilService.isDarkMode? 'dark' : 'light'"></nb-user>
        <nb-user name="Marina" title="Computer Science-Student" [class]="utilService.isDarkMode? 'dark' : 'light'"></nb-user>
        <nb-user name="Max" title="Computer Science-Student" [class]="utilService.isDarkMode? 'dark' : 'light'"></nb-user>
    </div>
</div>

