nb-accordion-item {
    background-color: var(--background-alternative-color);
    border-radius: 4px;
}

.light{
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.01),
        0 2px 2px hsl(0deg 0% 0% / 0.01),
        0 4px 4px hsl(0deg 0% 0% / 0.01),
        0 8px 8px hsl(0deg 0% 0% / 0.01),
        0 16px 16px hsl(0deg 0% 0% / 0.01);
}

nb-accordion-item-body {
    background-color: var(--background-alternative-color);
    font-size: 1.1rem;
}

#develop {
    background-color: var(--background-alternative-color);
}
.developers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    flex-wrap: wrap;
    gap: 32px;

}
nb-user {
    border-radius: 18px;
    font-size: 1.2rem!important;
    width: 256px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    &.dark{
        box-shadow: var(--accordion-shadow);
    }
}


p {
    font-size: var(--text-heading-5-font-size);
    line-height: 1.75rem;
}

h1 {
    margin-bottom: 48px;
    line-height: 2.25rem;
}

nb-accordion-item-header{
    font-size: var(--text-heading-6-font-size);
    font-weight: var(--text-heading-6-font-weight);
}

nb-accordion-item-body{
    font-size: 1.1rem;
}


@media all and (max-width: 850px){
    
    p{
        font-size: 1.2rem !important;
        line-height: 1.5rem !important;
    }   

    h1{
        font-size: var(--text-heading-3-font-size) !important;
        font-weight: var(--text-heading-3-font-weight) !important;
    }     

    nb-accordion-item-header{
        font-size: var(--accordion-header-text-font-size) !important;
        font-weight: var(--accordion-header-text-font-weight) !important;
    }

    nb-accordion-item-body{
        font-size: var(--accordion-item-text-font-size) !important;
        font-weight: var(--accordion-item-text-font-weight) !important;
    }
}
